.ant-layout {
    background-color: #ffffff
}
.ant-layout-footer {
    background-color: #ffffff
}
.ant-layout-sider {
    background-color: #ffffff;
    border-right: 1px solid #e8e8e8;
}
.ant-layout-sider.fixed {
    position: fixed;
    left: 0;
    z-index: 10;
    min-height: 100%;
    height: 100%;
}

.ant-menu-inline {
    border-right-width: 0px;
}

.ant-layout-sider, .ant-layout-sider-trigger {
    transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-layout-sider-trigger {
    line-height: 40px;
    height: 40px;
}
.ant-layout-sider-children {
    max-height: 91%;
    overflow-y:auto;
}
.ant-layout-sider-collapsed .ant-layout-sider-children{
    overflow-y:visible;
}

.ant-layout-sider-children::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    background-color: transparent;
}

.ant-layout-sider-children::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #ffffff;
}
.ant-layout-sider-children::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: #ccc;
}

.trigger {
    font-size: 18px;
    line-height: 50px;
    background-color: #f0f2f5;
    cursor: pointer;
    transition: color .3s;
    color: #595959;
    position: absolute;
    bottom: 4%;
}

.trigger:hover {
    color: #108ee9;
}

.content-max{
    padding: 0 10px 10px 210px;
    transition: padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content-normal{
    padding: 0 10px 10px 90px;
}

.width-80 {
    width: 80px;
}

.width-200 {
    width: 200px;
}

/* css for component Footprint */
.steps-content {
    margin-top: 15px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    text-align: center;
    width: auto;
    height: 75%;
}

.steps-action {
    text-align: center;
    margin-top: 25px;
}

.typed-cursor{
    display: none;
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
    50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
}
.typed-fade-out{
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
}

.typer-div {
    position: absolute;
    top: 25%;
    left: 43.5%;
    font-size: 2.5em;
    font-family: STXingkai;
    font-weight: 900;
}

.amap-logo, .amap-copyright {
    display: none !important;
}

#shapeRect {
    transition: 1s all ease;
}

#shapeRect:hover {
    stroke-dasharray: 70 0;
    stroke-dashoffset: 0;
    stroke: #06D6A0
}

@font-face {font-family: 'webfont';
    src: url('//at.alicdn.com/t/webfont_a35jl8d0gjr.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_a35jl8d0gjr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_a35jl8d0gjr.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_a35jl8d0gjr.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_a35jl8d0gjr.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
}
